* {
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html {
  --primary-color: #fcdf99;
  --secondary-color: #22646c;
  --tertiary-color: #586763;
  --background-color: #ffeac5;
  --background-color-light: #fefaf1;
  --grey: #efefef;
  --medium-grey: #aaa;
  --dark-grey: #12343b;
  --app-section-even-color: #fff;
  --app-section-odd-color: #fff;
  --border-radius: 5px;
  --content-width: 750px;
  --text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  --box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  font-size: 18px;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
  background-color: var(--background-color-light);
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0 0 50px 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 500;
  color: var(--secondary-color);
  text-shadow: var(--text-shadow);
  margin: 3rem 0 0 0;
}

h2 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  color: var(--secondary-color);
  text-shadow: var(--text-shadow);
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--secondary-color);
  text-shadow: var(--text-shadow);
  margin: 1rem 0 0.5rem 0;
}

h4 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--secondary-color);
  text-shadow: var(--text-shadow);
  margin: 1.5rem 0 0.5rem 0;
}

h5 {
  font-size: 1rem;
  line-height: 1;
  font-style: italic;
  font-weight: 300;
  margin: 1rem 0 0.5rem 0;
}

h6 {
  font-size: 1rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--tertiary-color);
  margin: 1rem 0 0.5rem 0;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.75em;
}

section {
  padding: 1rem;
}

section > *, footer > *, header > *, nav > * {
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
}

header {
  padding: 1rem;
  border-top: 3px solid var(--primary-color);
  background-color: var(--background-color);
  text-align: center;
}

footer {
  padding: 1rem;
  background: var(--tertiary-color);
}

nav {
  background: var(--secondary-color);
  position: fixed;
  bottom: 0;
  width: 100vw;
}

nav > div {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

nav a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 3px solid var(--secondary-color);
}

nav a:hover {
  color: var(--primary-color);
  border-bottom: 3px dashed var(--primary-color);
}

nav a.active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

img {
  max-width: 100%;
}

ul.breadcrumb {
  padding: 0;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  content: "/\00a0";
}

a.item {
  text-decoration: none;
  transition: all 250ms;
  border: 1px solid rgba(0,0,0,0);
  color: var(--secondary-color);
}

a.item {
  padding: 0;
  margin: 0;
}

a.item:hover, a.item:focus {
  text-decoration: none;
  box-shadow: var(--box-shadow);
  background-color: var(--grey);
  border: 1px solid var(--medium-grey);
}

.date {
  font-style: italic;
  color: var(--medium-grey);
  margin: 0.25rem auto 0 auto;
}

.number-suffix {
  vertical-align: super;
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  left: -4px;
}

.title-section {
  text-align: center;
  padding: 0;
}

.rich-text p, .rich-text h1, .rich-text h2, .rich-text h3, .rich-text h4, .rich-text h5, .rich-text h6 {
  max-width: var(--content-width);
  margin: 0.5rem auto 0.5rem auto;
}

.img-two-column:first-of-type {
  margin-left: auto;
}

.img-columns {
  max-width: var(--content-width);
  margin: 1rem auto 1rem auto;
  display: flex;
  justify-content: space-around;
}

.img-columns a {
  width: 40%;
}

.map {
  max-width: 300px;
  margin: auto;
}

.search-entry .richtext-img {
  max-width: 50%;
  float: right;
  margin: 0 0 1rem 1rem;
}

.search-entry {
  clear: right;
}

.fullscreen-img {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  right: 0;
}

.fullscreen-img > img {
  max-width: 100vw;
  max-height: 100vh;
  display: block;
  margin: auto;
}

.character-list {
  columns: 239px 3;
}

.character-from-list:first-of-type h4 {
  margin-top: 0;
}

.character-from-list {
  break-inside: avoid;
}

.img-fullscreen {
  width: 100vw;
  max-width: 100vw;
}

dnd-search-box {
  margin-bottom: 1rem;
  display: block;
}

@media (max-width: 1000px) {
  html {
    font-size: 18px;
  }

  section > *, footer > *, header > *, nav > * {
    max-width: none;
  }

  main > .rich-text p, main > .rich-text h1, main > .rich-text h2, main > .rich-text h3, main > .rich-text h4, main > .rich-text h5, main > .rich-text h6 {
    max-width: none;
    padding: 0 1rem;
  }

  .search-entry .richtext-img {
    max-width: 100%;
  }

  .search-entry {
    float: none;
  }

  /*
  .rich-text p {
    margin: 0 0 1rem 0;
    line-height: 3rem;
  }

  .date {
    font-style: italic;
    color: var(--medium-grey);
    margin: 1rem auto 1rem auto;
  }

  h1 {
    margin: 1rem 0 1rem 0;
    font-size: 4rem;
  }

  h2 {
    margin: 2rem 0 0 0;
    font-size: 3.5rem;
  }

  h3 {
    margin: 2rem 0 0 0;
    font-size: 3rem;
  }

  h4 {
    margin: 2rem 0 0 0;
    font-size: 2.5rem;
  }

  h5 {
    margin: 2rem 0 0 0;
    font-size: 2.25rem;
  }

  h6 {
    margin: 2rem 0 0 0;
    font-size: 1.5rem;
  }
  */
}