* {
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html {
  --primary-color: #2d545e;
  --secondary-color: #c89666;
  --tertiary-color: #c89666;
  --background-color: #fceed1;
  --background-color-light: #fefaf1;
  --grey: #efefef;
  --medium-grey: #aaa;
  --dark-grey: #12343b;
  --app-section-even-color: #fff;
  --app-section-odd-color: #fff;
  --border-radius: 5px;
  --content-width: 800px;
  --text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  --box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  font-size: 20px;
  line-height: 1.75rem;
  color: rgba(0, 0, 0, 0.7);
  background-color: var(--background-color-light);
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 500;
  color: var(--secondary-color);
  text-shadow: var(--text-shadow);
  margin: 0;
}

h2 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  color: var(--secondary-color);
  text-shadow: var(--text-shadow);
  margin: 1rem 0 0 0.5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--secondary-color);
  text-shadow: var(--text-shadow);
  margin: 1rem 0 0 0.5rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--secondary-color);
  text-shadow: var(--text-shadow);
  margin: 1.5rem 0 0 0.5rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 300;
  color: var(--secondary-color);
  text-shadow: var(--text-shadow);
  margin: 1rem 0 0 0.5rem;
}

h6 {
  font-size: 1rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--dark-grey);
  text-shadow: var(--text-shadow);
  margin: 1rem 0 0 0.5rem;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.75em;
}

main p {
  text-align: justify;
}

section {
  padding: 1rem;
}

section > *, footer > *, header > *, nav > * {
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
}

header {
  padding: 1rem;
  border-top: 3px solid var(--primary-color);
  background-color: var(--background-color);
  text-align: center;
}

footer {
  padding: 1rem;
  background: var(--tertiary-color);
}

nav {
  background: var(--tertiary-color);
}

nav > div {
  display: flex;
  width: 100%;
}

nav a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.25rem;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 3px solid var(--tertiary-color);
}

nav a:hover {
  color: var(--primary-color);
  border-bottom: 3px dashed var(--primary-color);
}

nav a.active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

img {
  max-width: 100%;
}

ul.breadcrumb {
  padding: 0;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  content: "/\00a0";
}

a.item {
  text-decoration: none;
  transition: all 250ms;
  border: 1px solid rgba(0,0,0,0);
  color: var(--secondary-color);
}

a.item {
  padding: 0.5rem;
}

a.item:hover, a.item:focus {
  text-decoration: none;
  box-shadow: var(--box-shadow);
  background-color: var(--grey);
  border: 1px solid var(--medium-grey);
}

.date {
  font-style: italic;
  color: var(--medium-grey);
  margin: 0.25rem auto 0 auto;
}

.number-suffix {
  vertical-align: super;
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  left: -4px;
}

.title-section {
  text-align: center;
  background-color: var(--background-color);
}

.rich-text p {
  margin: 0 0 0.5rem 0;
}

@media (max-width: 1000px) {
  html {
    font-size: 22px;
  }

  section > *, footer > *, header > *, nav > * {
    max-width: none;
  }

  /*
  .rich-text p {
    margin: 0 0 1rem 0;
    line-height: 3rem;
  }

  .date {
    font-style: italic;
    color: var(--medium-grey);
    margin: 1rem auto 1rem auto;
  }

  h1 {
    margin: 1rem 0 1rem 0;
    font-size: 4rem;
  }

  h2 {
    margin: 2rem 0 0 0;
    font-size: 3.5rem;
  }

  h3 {
    margin: 2rem 0 0 0;
    font-size: 3rem;
  }

  h4 {
    margin: 2rem 0 0 0;
    font-size: 2.5rem;
  }

  h5 {
    margin: 2rem 0 0 0;
    font-size: 2.25rem;
  }

  h6 {
    margin: 2rem 0 0 0;
    font-size: 1.5rem;
  }
  */
}